name: Develop PR CI

on:
  pull_request:
    branches:
      - develop
    types: [opened, synchronize, reopened]

jobs:
  test-lint-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip' # Habilita el caching de dependencias

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Formatter Check (Black)
        run: black --check .

      - name: Run Linter (Flake8)
        run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Check for missing migrations
        run: python manage.py makemigrations --check --dry-run

      - name: Run Tests
        run: python manage.py test basketball/tests
